/*

!/src/
!/docs/

!/.github
!/.npmignore
!/.node-version

!/.editorconfig
!/.prettierignore
!/dictionary.txt

!/*.yaml
!/*.js
!/*.json
!/*.ts

!/LICENSE
!/NOTICE
!/README.md

!/.gitatributes
!/.gitignore
